@media only screen and (min-width: 1040px) {



/*-----INSIDE THE WRAPPERS-----*/
	header, nav, .row, footer {
		max-width: 1140px;
		margin: 0 auto; /*centers everything on the page*/
       
	}

/*-----HEADER -----*/
header {
    position: relative;
}







/*-----NAVIGATION -----*/	
nav ul li {width: auto;}
nav ul li a {padding: .2em 1.5em;}

	
	
	

/*-----CONTENT -----*/



	
	





} /*end of the media query */