/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





/*-----BODY -----*/
body {
	background-color: #E6E1D8;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;	/*also loaded 600 for bold*/
	color: #494948;
}




/*-----COLOR BAR -----*/
#colorbar {
	height: 44px;
	width: 100%;
	background-color: #e22121;
}





/*-----HEADER -----*/
#headerWrapper {
	background-color: #3B4044;
}
header {
	padding: 1em 2% .5em 2%;
}

header h1 {
	font-size: 2.1em;
	color: #fff;
}
header h2 {
	font-size: .9em;
	font-weight: 300;
	color: #ddd;
	margin-top: .75em;
}


header a.tel {
	position: absolute; 
	top: .4em; 
	right: 2%; 
	z-index: 1000; /*makes sure it sits on top of everything else*/
	font-size:1.4em;
	font-weight: 600; 
	color: #FFF!important;  /* necessary to override the default blue link color applied by phones */
	text-decoration:none;
	padding-left: 25px;
	background-image:url(../images/icon_phone.png);
	background-size: 22px 22px;
	background-repeat:no-repeat;
}



/*----- SOCIAL -----*/
header .social {
    margin: .75em 0;
}
header .social li span{display: none;}

header .social li {
    width: 25%;
    float: left;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
header .social li a {
    display: block;
    height: 30px;
    margin: 2px,0;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}

header .social li.facebook a{background-position: center -30px;}
header .social li.pinterest a{background-position: center -90px;}
header .social li.twitter a{background-position: center -0px;}
header .social li.plus a{background-position: center -60px;}














/*-----NAVIGATION -----*/	
#navWrapper {
	background-color: #e22121;	
}
nav ul li {
	float: left;
	width: 25%;	
}

nav ul li a {
	display: block;
	font-size: .9em;
	font-weight:600;
	color: rgba(255,255,255,0.8);
	text-decoration:none;
	margin: .6em 0;
	border-right: 3px solid rgba(255,255,255,0.3);
	text-align: center;
}	
/*this turns off the last border*/
nav ul li:last-child a {
	border-right: none;
}	
nav ul li a:hover{color: rgba(255,255,255,0.9);}
nav ul li.selected > a {color: rgba(255,255,255,1);} 
	
	
	
	

/*-----CONTENT -----*/
#contentWrapper  {
	background-color: #fff;
}
#contentWrapper h1 {
	color:#e22121;
	font-size: 2em;
	padding-top: 1em;
	text-shadow: 1px 1px 2px #999;
}
#contentWrapper h2 {
	color:#e22121;
	font-size: 1.25em;
	padding-top: .75em;
	font-weight:600;
}
#contentWrapper p {
	line-height: 140%;
}
#contentWrapper a {
	text-decoration:none;
	color: #e22121;
	font-weight:600;
}




/*----- 12 COLUMN LAYOUT -----*/
.column-3, .column-4, .column-6, .column-9, .column-12 {
	width: 100%;
	padding: .5em 2%;
}




/*----- FORM -----*/
form.signup label {
	display: block;
	margin-bottom: .5em;
}
form.signup .myinput {
	width: 16em;
	padding: .5em;
	border: none;
	background-color: #eee;
	border-radius: 12px;
}
form.signup .formbutton {
	background-color: #e22121;
	border: none;
	border-radius: 12px;
	padding: .5em 3em;
	color: #fff;
	width: 16em;
	
	-webkit-appearance:none; /*removed apple default graident*/
}









/*----- FOOTER -----*/
#footerWrapper {background-color: #979791;}
footer {
	clear: both;
	font-size: .7em;
	color: #fff;
	text-align: center;
	padding: .6em;
}
footer a {color: #fff;}



/*-------SOCIAL ICONS IN FOOTER --------*/
ul.social2 {
    width: 200px;
    margin: 0 auto;
}
ul.social2 li span {
 display: none;
}
ul.social2 li a {
    display: block;
    background-image: url(../images/icons2.png);
    width: 44px;
    height: 44px;
    margin: 3px;
    float: left;
}
ul.social2 li.twitter a {background-position: left 0px;}
ul.social2 li.twitter a:hover {background-position: right 0px;}

ul.social2 li.facebook a {background-position: left -44px;}
ul.social2 li.facebook a:hover {background-position: right -44px;}

ul.social2 li.pinterest a {background-position: left -132px;}
ul.social2 li.pinterest a:hover {background-position: right -132px;}

ul.social2 li.plus a {background-position: left -88px;}
ul.social2 li.plus a:hover {background-position: right -88px;}



/*----- OTHER -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}